<div class="container-answers">
	<div class="answer-center">
	    <p>{{ top }}</p>
	</div>
	<div class="container-answers-middle-section">
		<div class="answer-left">
			    <p>{{ left }}</p>
			</div>
			<div class="answer-right">
			    <p>{{ right }}</p>
			</div>
	</div>
	<div class="answer-center">
	    <p>{{ bottom }}</p>
	</div>
</div>