<div class="answer-center">
    <p>8</p>
</div>
<div class="answer-left">
    <p>7</p>
</div>
<div class="answer-right">
    <p>6</p>
</div>
<div class="answer-center">
    <p></p>
</div>
<div class="answer-center">
    <p></p>
</div>
<div class="answer-center">
    <p>5</p>
</div>
