<div class="container-answers">
	<div class="answer-center">
	    <p>8</p>
	</div>
	<div class="container-answers-middle-section">
		<div class="answer-left">
			    <p>7</p>
			</div>
			<div class="answer-right">
			    <p>6</p>
			</div>
	</div>
	<div class="answer-center">
	    <p>5</p>
	</div>
</div>