<div id="rArrow" class="rightArrow">➡</div>
<div id="lArrow" class="leftArrow">⬅</div>
<div id="tArrow" class="topArrow">⬆</div>
<div id="startButton" class="startButton">Next</div>
<div id="startButton" class="okButton">Ok</div>
