<div id="rArrow" class="flash dr rightArrow">➡</div>
<div id="lArrow" class="flash dl leftArrow">⬅</div>
<div id="tArrow" class="flash dt topArrow">⬆</div>
<div id="startButton" class="flash startButton">Start</div>
