<div class="question-page">
	<div>
		<p class="question">Question 2</p> 
		<div class="timer" id="timer_div"></div>
	</div>

	<p>
	    How many flowers do you see?
	</p>


	<img src="/images/flowers.png" alt="" />

	<p class="next-button">SKIP :)</p>
</div>